<div class="jumbotron text-center">
    <!-- TITLE TEXT -->
    <h1>Preferences</h1>

    <div class="form-group">
        <input type="text" class="form-control" name="name" ng-model="inputLocation" placeholder="Enter your location">
    </div>

	<div class = "columnList">
    <ul class="animate-repeat" ng-repeat="(cat,enabled) in categoryList">
      <input type="checkbox" ng-model="categoryList[cat]"/> {{cat}}
    </ul>
	</div>
	
    <div>
        <button ng-click="SavePrefs()" type="submit">Save</button>
    </div>
</div>