<div class="jumbotron text-center">
    <h1>Search</h1>

    <p>{{ 'Find an event near you.' }}</p>

    <div class="form-group">
        <input type="text" class="form-control" name="name" ng-model="inputLocation" placeholder="Enter your location">
    </div>
    <div class="form-group">
        <input type="text" class="form-control" name="name" ng-model="searchQuery" placeholder="Search for an event">
        <button ng-click="SearchFunction()" type="submit" class="btn btn-success btn-lg">Search</button>
    </div>
</div>
<div class="list-group">
    <button type="button" class="list-group-item" ng-repeat="event in searchResults.events">{{event.name.text}}</button>
</div>

<div class="row show-hide-message" ng-show="isError">
    <div class="alert alert-danger">{{ errorMessage }}</div>
</div>